<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
   <body style="background-color: #aeeaae;">
        <h1 style="text-align: center; margin-top: 20px"> Wyn[ <kbd>Bin</kbd> ] Challenge</h1>

        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 20px">
            <a class="navbar-brand" href="http://127.0.0.1:5000/">War on waste!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                {% if active == 0 %}
                <a class="nav-item nav-link active" href="http://127.0.0.1:5000/">Home<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="http://127.0.0.1:5000/Currentfill">Current Fill</a>
                {% else %}
                <a class="nav-item nav-link" href="http://127.0.0.1:5000/">Home<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="http://127.0.0.1:5000/Currentfill">Current Fill</a>
                {% endif %}
                <a class="nav-item nav-link" href="http://127.0.0.1:5000/SmartBin">Smart Bin</a>
              </div>
            </div>
          </nav>
        
        <table style="position:static ; width: 100%">
            {% for row in list %}
            <tr> 
                {%  for value in row %}   
                    <td>
                        {% if value[2] <  33 %}
                            <img style ="max-width: 20%; height: auto; display: block; margin-left: auto; margin-right: auto" src= "{{url_for('static', filename='green_bin.png')}}" />

                            {% elif value[2] >  66 %}
                            <img style ="max-width: 20%; height: auto; display: block; margin-left: auto; margin-right: auto" src= "{{url_for('static', filename='red_bin.png')}}" />
                            {% else %}
                            <img style ="max-width: 20%; height: auto; display: block; margin-left: auto; margin-right: auto" src= "{{url_for('static', filename='yellow_bin.png')}}" />
                        {% endif %}

                        <p style="text-align: center; font-family: Noto Sans CJK KR Black">{{ value[0] }}</p>
                        <p style="text-align: center">{{ value[2] }} %</p>
                       
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}


        </table>
    <p> Last Updated : {{ timestamp }}</p>
   </body>
</html>